* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav {
    padding: 0 15%;
}
.logo {
    display: inline;
}
.logo img {
    width: 12vw;
    height: 18vh;
    float: left;
    padding-right: 3rem;
    
}
.left {
    float: left;
    width: 68%;
}
.logo ul {
    display: inline;
}
.logo ul li {
    list-style: none;
    float: left;
    line-height: 20vh;
    padding: 0rem 1.5rem;
}
.right {
    float: right;
    width: 32%;
    line-height: 20vh;
}
.right input[type="text"] {
    border: 2px solid black;
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.7rem;
    font-size: 1rem;
}
.right .btn {
    padding: 0.8rem;
    border: 2px solid black;
    border-radius: 0.7rem;
    font-size: 1rem;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li:hover {
    font-weight: 900;
    color: brown;
}
hr {
    width: 70%;
    margin: auto;
}
.imageHeader img {
    width: 100%;
}
.blog {
    padding: 20px 15%;
    width: 100%;
}
.blog h1 {
    text-align: center;
}
.blogDescription {
    display: flex;
    justify-content: space-between;
}
.blogLeft {
    line-height: 30px;
    font-size: 15px;
}
.blog p {
    font-size: 25px;
    line-height: 2.5rem;
}
.suggestedBlogSection {
    width: 80%;
    margin: auto;
    background-color: #f3efef;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.suggestedBlogSection h2 {
    padding : 0.7rem;
}
img.src {
    width: 15rem; 
    height: auto;
    margin: auto;
}
.blogContainer {
    display: flex;
}
.suggestedBlog {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    text-align: center;
    margin: 2rem;
}
footer {
    width: 100%;
    height: auto;
    background-color: coral;
    text-align: center;
}
@media only screen and (max-width: 360px) {
    nav {
        padding: 0px;
    }
    .logo img {
        width: auto;
        height: auto;
        text-align: center;
    }
    .logo{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .logo ul {
        display: flex;
    }
    .logo ul li {
        line-height: 5vh;
    }
    .right{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin: 1rem;
    }
    .right input[type="text"] {
        border: 1px solid black;
        width: 50%;
        height: 1.5rem;
        border-radius: 0.3rem;
        font-size: 10%;
        margin-left: 2.5rem;
    }
    .right .btn {
        padding: 0.4rem;
        border: 1px solid black;
        border-radius: 0.7rem;
        font-size: 0.5rem;
    }
    hr {
        width: 90%;
        margin: auto;
    }
    .blogContainer {
        display: flex;
        flex-direction: column;
    }
    .suggestedBlogSection {
        width: 80%;
        /* margin: auto; */
        background-color: #f3efef;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .suggestedBlog {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0rem;
    }
}